#about {
    margin-bottom: 6rem;

    h2 {
        margin-left: auto;
        margin-right: auto;
        width: 7rem;
    }

    .flex-container {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        #about-me {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                width: 38rem;
                line-height: 2rem;
                font-size: 1.3rem;
            }
        }
        
        #skills {
            margin-top: 2rem;

            .diamond-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .diamond-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 2.5rem;
            }
            
            .diamond-item {
                display: flex;
                border: 2px solid $highlight-colour;
                border-radius: 20%;
                flex-direction: column;
                align-items: center;
                width: 7rem; 
                height: 7rem; 
                margin: 5px; 
                font-size: 1.1rem;
                
            }
            
            .diamond-item img {
                width: 100%; 
                height: auto;
            }

        }
          
    }
}