$background-colour: #14191b;
$secondary-colour: #1f1f1f;
$highlight-colour: #b1ac4c;
$font-color: white;

/* Laptop Styles */
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
    html {
        font-size: 80%;
    }
}

@media only screen   
and (min-width : 768px)   
and (max-width : 1029px) {
    html {
        font-size: 65%;
    }
}

@media only screen
and (min-width : 481px) 
and (max-width : 767px) {
    html {
        font-size: 40%;
    }
}

/* Smartphone styles */
@media only screen
and (max-width : 480px) {
    html {
        font-size: 44%;
    }

    .flex-container {
        flex-direction: column;
    }
    
    body {
        #home {
            font-size: 3rem;
            text-align: center;
        }

        #projects {
            display: initial;

            h2 {
                width: 10rem;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 6rem;
            }
    
            #project-container {
                flex-direction: column;
                align-items: center;
    
                .project {
                    width: 70%;
                    margin-bottom: 15rem;
    
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
            
        }
    }
    
    
}

body {
    background-color: $background-colour;
    color: $font-color;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 5rem;
    width: 5rem;
}

h2, span {
    color: $highlight-colour;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 4px solid $highlight-colour;
    margin-bottom: 5rem;
    text-align: center;
    width: auto;
}