$background-colour: #14191b;
$secondary-colour: #1f1f1f;
$highlight-colour: #b1ac4c;
$font-color: white;

body {
    background-color: $background-colour;
    color: $font-color;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 96px;
    width: 96px;
}

h2, span {
    color: $highlight-colour;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 4px solid $highlight-colour;
    margin-bottom: 5rem;
}