$background-colour: #1b1e20;
$secondary-colour: #6b6446;
$highlight-colour: #b1ac4c;
$font-color: white;

body {
    background-color: $background-colour;
    color: $font-color;
    font-family: 'Poppins', sans-serif;
}

img {
    height: 50px;
    width: 50px;
}

h2, span {
    color: $highlight-colour;
}